.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.subtitle1,
.subtitle2,
.body1,
.body2 {
  color: var(--secondary-contrast-text-color);
  font-weight: 500;
  letter-spacing: 0.02857em;
  margin: 0;
  font-family: var(--font-family);
  word-wrap: break-word;
}

.h1 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: -0.01562em;
}

.h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}

.h3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.04;
}

.h4 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.body1,
.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.46429em;
}

.body2 {
  font-weight: 500;
}

.gutterBottom {
  margin-bottom: 0.35em;
}

.primary {
  color: var(--primary-main-color);
}

.secondary {
  color: var(--secondary-main-color);
}

.textPrimary {
  color: var(--primary-contrast-text-color);
}

.textSecondary {
  color: var(--secondary-contrast-text-color);
}

.error {
  color: var(--error-contrast-color);
}