* {
	box-sizing: border-box;
}

html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	min-height: 100%;
}

body {
	flex: 1;
	background-color: #fafafa;
}

.main {
	max-width: 1100px;
	margin: auto;
}